{% extends "base.html" %}

{% block main %}
<h3>EEG Signal Data Preprocessing</h3>
<div class="container"></div>
    <p style="max-width: 1000px"></p>Welcome to the site for electroencephalogram (EEG) signal data preprocessing and analysis.</p>
    <p style="max-width: 1000px">Raw EEG data files from one of the selectable online repositories can be preprocessed on demand then downloaded for further analysis using the links above. Expansion of current capabilities as well as additional ones will be incorporated in the future.</p>
    <p style="max-width: 1000px">For more information about the OpenNeuro datasets, visit the <a href='https://openneuro.org/dashboard/datasets'>OpenNeuro</a> site.</p>
    <p style="max-width: 1000px">To learn more about our group's work, visit the <a href='https://nirdslab.github.io/'>NIRDS Lab</a> research page.</p>
</div>
{% endblock %}
