{% extends "base.html" %}
{% block head1 %}
<script>
  function toggle_display() {
    el = document.querySelector('.additional_content');
    if(el.style.display == 'none'){
      el.style.display = 'block'
    } else {
      el.style.display = 'none'
    }
  }  
</script>
{% endblock %}

{% block main %}
<div class="container" style="max-width: 500px">
  <form action="/processfile" method="POST">
    <!-- Protect form -->
    {{ form.csrf_token() }}
    <div class="form-group" style="padding-bottom: 10px;">
        <label for="user_name">{{ form.user_name.label }}</label>
        {{ form.user_name(class_="form-control") }}
    </div>
    <div class="form-group" style="padding-bottom: 10px;">
        <label for="bucket">{{ form.bucket.label }}</label>
        {{ form.bucket(class_="form-control") }}
    </div>
    <div class="form-group" style="padding-bottom: 10px;">
      <label for="study">{{ form.study.label }}</label>
      {{ form.study(class_="form-control") }}
    </div>
    <div class="form-group" style="padding-bottom: 10px;">
        <label for="subjects">{{ form.subjects.label }}</label>
        {{ form.subjects(class_="form-control") }}
    </div>
    <div class="form-group" style="padding-bottom: 10px;">
      <label for="montage">{{ form.montage.label }}</label>
      {{ form.montage(class_="form-control") }}
    </div>
    <a href="#" onclick="toggle_display();">Additional Parameters</a><br>
    <div class="additional_content" style="display:none;outline:dashed;outline-offset:10px;outline-color:grey;outline-width:thin;">
      <div class="form-group" style="padding-bottom: 10px;padding-top: 10px;">
        <label for="highpass">{{ form.highpass.label }}</label>
        {{ form.highpass(class_="form-control") }}
      </div>  
      <div class="form-group" style="padding-bottom: 10px;">
        <label for="lowpass">{{ form.lowpass.label }}</label>
        {{ form.lowpass(class_="form-control") }}
      </div>  
      <div class="form-group" style="padding-bottom: 10px;">
        <label for="downsample">{{ form.downsample.label }}</label>
        {{ form.downsample(class_="form-control") }}
      </div>
      <div class="form-group" style="padding-bottom: 10px;">
        <label for="time_window">{{ form.time_window.label }}</label>
        {{ form.time_window(class_="form-control") }}
      </div>
    </div>
    <div class="form-group" style="float:right;padding-bottom: 10px;">
      <br>
      {{ form.submit(class_="btn-default") }}
    </div>
  </form>
</div>
<script>
  bucket_select = document.getElementById('bucket');
  study_select = document.getElementById('study');
  subject_select = document.getElementById('subjects')

  bucket_select.onchange = function() {
    bucket = bucket_select.value;
    fetch('study/' + bucket).then(function(response) {
      response.json().then(function(data) {
        innerHTML = '';
        for (study of data.studies) {
          innerHTML += '<option value="' + study.id + '">' + study.name + '</option>';
        }
        study_select.innerHTML = innerHTML;
      });
    });
  }

  study_select.onchange = function() {
    study = study_select.value;
    fetch('subjects/' + study + '/' + bucket_select.value).then(function(response) {
      response.json().then(function(data) {
        innerHTML = '';
        for (subject of data.subjects) {
          innerHTML += '<option value="' + subject.id + '">' + subject.name + '</option>';
        }
        subject_select.innerHTML = innerHTML;
      });
    });
  }
</script>
{% endblock %}