{% extends "base.html" %}
{% block head1 %}
<meta http-equiv="refresh" content="15"> 
<script>
    $(document).ready(function() {
      // Initialize DataTable
      $('#data').DataTable({
        order: [0, 'desc'],
        columns: [
          {searable: false, orderable: true},
          {searable: true, orderable: true},
          {searable: false, orderable: true},
          {searable: false, orderable: true},
          {searable: false, orderable: true},
          {searable: false, orderable: true},
          {searable: false, orderable: true},
          {searable: false, orderable: false}
        ],
        paging: true, // Enable pagination
        searching: true, // Enable search
        ordering: true, // Enable sorting
        info: true, // Show information
        lengthChange: false, // Disable the "Show X entries" dropdown
      });
    }); 
  </script>
{% endblock %}

{% block main %}
<div class="container mt-3">
    <table id="data" class="table table-striped table-hover" style="width:100%;padding-top: 25px;">
        <thead>
            <tr>
                <th style="text-align:center">Created Date</th>
                <th style="text-align:center">Created By</th>
                <th style="text-align:center">Bucket</th>
                <th style="text-align:center">Study</th>
                <th style="text-align:center">Total Subjects</th>
                <th style="text-align:center">Status</th>
                <th style="text-align:center">Status Date</th>
                <th style="text-align:center">Action</th>
            </tr>
        </thead>
    <tbody class="table-group-divider">
      {% for task in data %}
        <tr>
          <td style="text-align:center">{{ task.CreatedDate }}</td>
          <td>{{ task['UserName']}}</td>
          <td style="text-align:center">{{ task['SourceDB'] }}</td>
          <td>{{ task['StudyId'] }}</td>
          <td style="text-align:center">{{ task['Subjects'] }}</td>
          <!--td>{{ task['TotalProcessed'] }}</td-->
          <td style="text-align:center">{{ task['TaskStatus'] }}</td>
          <td style="text-align:center">{{ task['StatusDate'] }}</td>
          <td style="text-align:center">
            {% if task['TaskStatus'] == 'Complete' %}
              <a href="{{ url_for('results') }}?taskid={{ task['TaskId'] }}" title="Download"><i class="bi bi-cloud-download"></i></a>&nbsp;|&nbsp;<a href="/deleteTask?taskid={{task['TaskId']}}" title="Delete" onclick="if (confirm('Are you sure you want to delete the record?')){return true;}else{event.stopPropagation(); event.preventDefault();};"><i class="bi bi-trash"></i></a>
            {% elif task['TaskStatus'] == 'Error' %}
              <a href="/deleteTask?taskid={{task['TaskId']}}" title="Delete" onclick="if (confirm('Are you sure you want to delete the record?')){return true;}else{event.stopPropagation(); event.preventDefault();};"><i class="bi bi-trash"></i></a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}